<%- include("partials/header") %>
	
	<section class="ui main text container">
		<div class="ui huge header centered">Chaos | Cause | Strength | Strategy</div>
		<div class="ui attached segment top">
			<div class="ui items">
				<% blogs.forEach((blog) => { %>
					<div class="item">
						<div class="image">
							<img class="" src="<%= blog.image %>">
						</div>
						<div class="content">
							<div class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></div>
						</div>
						<div class="meta">
							<span><%= blog.created.toDateString() %></span>
						</div>
						<div class="description">
							<% if(blog.body && blog.body.length > 0) { %>
								<p><%= blog.body.substring(0,100) %></p>
							<% } %> 
						</div>
						<div class="extra">
							<a class="ui floated basic violet" href="/blogs/<%= blog._id %>" >
								Read More
								<i class="right chevron icon"></i>
							</a>
						</div>	
					</div>
				<% }) %>
			</div>
		</div>	
	</section>

<%- include("partials/footer") %>